body {
	font-family: 'Open Sans', sans-serif;
}

.sidebar {
	background: #eb5658;
}

.sidebar-about h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	line-height: 1;
}

.lead {
	color: rgba(255,255,255,.75);
}
