body {
	font-family: 'Open Sans', sans-serif;
}

.sidebar {
	background: #eb5658;
}

.sidebar-about h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	line-height: 1;
}

.lead {
	color: rgba(255,255,255,.75);
}

.page, .post {
	margin-bottom: 3rem;
}

ul, ol {
  padding-left: 0;
  margin-left: 1rem;
}
